<div id="content">
    <div class="wrapper-content">
        <div class="content-module d-flex justify-content-center">
            <div class="box-form col-lg-6 col-md-0">
                <div class="box col-lg-6 col-md-12">
                    <form action="">
                        <div class="inp">
                            <b>Họ tên</b>
                            <p>Nguyễn Văn A</p>
                        </div>
                        <div class="inp">
                            <b>Link CV</b>
                            <p>nguyen-van-a.com</p>
                        </div>
                        <div class="inp">
                            <b>Trường học</b>
                            <p>Đại Học Quốc Gia Hà Nội</p>
                        </div>
                        <div class="inp">
                            <b>Vị trí</b>
                            <p>Vị trí 1</p>
                        </div>
                        <div class="inp">
                            <b>Năm sinh</b>
                            <p>1995</p>
                        </div>
                        <div class="inp">
                            <b>Điểm trung bình</b>
                            <p>90</p>
                        </div>
                        <div class="inp">
                            <b>Số điện thoại</b>
                            <p>0123456789</p>
                        </div>
                        <div class="footer-form" style="text-align: center;">
                            <a href="" class="delete">Loại</a>
                            <a href="" class="exam">Thi tuyển</a>
                            <a href="" class="tick">Tuyển thẳng</a>
                            <a href="" class="save">Lưu CV</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-0 "></div>
    </div>